table {
    background: azure;
    border: black solid 1px;
}

td {
    width: 150px;
    border: black solid 1px;
    text-align: center;
}
td > img{
    height: 50px;
}

input, select {
    width: 200px;
    height: 40px;
    background: azure;
}